<a href="https://colab.research.google.com/github/Neko1313/ML/blob/main/lab1/%D0%9B%D0%B0%D0%B1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Что то интересное

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/sample_data/loan_approval_dataset.csv")

In [5]:
df.columns

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [6]:
df[:5]

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [7]:
df[-5:]

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [8]:
df.describe()

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
count,4269.000000,4269.000000,4.269000e+03,4.269000e+03,4269.000000,4269.000000,4.269000e+03,4.269000e+03,4.269000e+03,4.269000e+03
mean,2135.000000,2.498712,5.059124e+06,1.513345e+07,10.900445,599.936051,7.472617e+06,4.973155e+06,1.512631e+07,4.976692e+06
std,1232.498479,1.695910,2.806840e+06,9.043363e+06,5.709187,172.430401,6.503637e+06,4.388966e+06,9.103754e+06,3.250185e+06
min,1.000000,0.000000,2.000000e+05,3.000000e+05,2.000000,300.000000,-1.000000e+05,0.000000e+00,3.000000e+05,0.000000e+00
25%,1068.000000,1.000000,2.700000e+06,7.700000e+06,6.000000,453.000000,2.200000e+06,1.300000e+06,7.500000e+06,2.300000e+06
50%,2135.000000,3.000000,5.100000e+06,1.450000e+07,10.000000,600.000000,5.600000e+06,3.700000e+06,1.460000e+07,4.600000e+06
75%,3202.000000,4.000000,7.500000e+06,2.150000e+07,16.000000,748.000000,1.130000e+07,7.600000e+06,2.170000e+07,7.100000e+06
max,4269.000000,5.000000,9.900000e+06,3.950000e+07,20.000000,900.000000,2.910000e+07,1.940000e+07,3.920000e+07,1.470000e+07

Какие средние значения в каждой числовой колонке вашего датасета?

In [9]:
df.mean()

<ipython-input-9-c61f0c8f89b5>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

loan_id                      2.135000e+03
 no_of_dependents            2.498712e+00
 income_annum                5.059124e+06
 loan_amount                 1.513345e+07
 loan_term                   1.090045e+01
 cibil_score                 5.999361e+02
 residential_assets_value    7.472617e+06
 commercial_assets_value     4.973155e+06
 luxury_assets_value         1.512631e+07
 bank_asset_value            4.976692e+06
dtype: float64

#Минимальные и максимальные значения в каждой числовой колонке вашего датасета

##MIN

In [10]:
df.min()

loan_id                              1
 no_of_dependents                    0
 education                    Graduate
 self_employed                      No
 income_annum                   200000
 loan_amount                    300000
 loan_term                           2
 cibil_score                       300
 residential_assets_value      -100000
 commercial_assets_value             0
 luxury_assets_value            300000
 bank_asset_value                    0
 loan_status                  Approved
dtype: object

##MAX

In [11]:
df.max()

loan_id                               4269
 no_of_dependents                        5
 education                    Not Graduate
 self_employed                         Yes
 income_annum                      9900000
 loan_amount                      39500000
 loan_term                              20
 cibil_score                           900
 residential_assets_value         29100000
 commercial_assets_value          19400000
 luxury_assets_value              39200000
 bank_asset_value                 14700000
 loan_status                      Rejected
dtype: object

#Типизация

In [14]:
df.dtypes

loan_id                       int64
 no_of_dependents             int64
 education                   object
 self_employed               object
 income_annum                 int64
 loan_amount                  int64
 loan_term                    int64
 cibil_score                  int64
 residential_assets_value     int64
 commercial_assets_value      int64
 luxury_assets_value          int64
 bank_asset_value             int64
 loan_status                 object
dtype: object

#Фильтрация

In [21]:
df_filter_loan_term = df[df[" loan_term"] > 19]
df_filter_loan_term

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
7,8,2,Graduate,Yes,5700000,15000000,20,382,13200000,5700000,11800000,6000000,Rejected
8,9,0,Graduate,Yes,800000,2200000,20,782,1300000,800000,2800000,600000,Approved
25,26,5,Not Graduate,No,3100000,9500000,20,514,7900000,3100000,6600000,2600000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4219,4220,4,Graduate,Yes,5600000,16500000,20,692,14500000,7800000,18000000,7400000,Approved
4232,4233,1,Graduate,Yes,200000,500000,20,713,0,200000,500000,100000,Approved
4244,4245,3,Not Graduate,No,1800000,5600000,20,860,1900000,1700000,4300000,900000,Approved
4262,4263,5,Graduate,No,1300000,3000000,20,540,1000000,2300000,3200000,1900000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved

In [27]:
df_filter_luxury_assets_value = df[df[" luxury_assets_value"] < 1_000_000]
df_filter_luxury_assets_value

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
95,96,5,Graduate,No,300000,1100000,2,300,100000,500000,700000,400000,Approved
101,102,2,Not Graduate,Yes,300000,1100000,2,702,300000,200000,500000,200000,Approved
110,111,0,Not Graduate,No,300000,1100000,8,778,800000,200000,900000,100000,Approved
125,126,3,Graduate,No,200000,600000,16,821,400000,100000,500000,100000,Approved
126,127,4,Not Graduate,Yes,400000,800000,10,859,900000,500000,800000,200000,Approved
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4009,4010,4,Not Graduate,No,200000,500000,16,765,600000,100000,600000,100000,Approved
4182,4183,1,Not Graduate,No,400000,1600000,16,784,800000,700000,700000,100000,Approved
4212,4213,0,Not Graduate,No,200000,600000,12,683,400000,200000,400000,0,Approved
4217,4218,5,Not Graduate,Yes,400000,1400000,4,483,1100000,700000,800000,100000,Approved
4232,4233,1,Graduate,Yes,200000,500000,20,713,0,200000,500000,100000,Approved

In [28]:
df_filter_no_of_dependents = df[df[" no_of_dependents"] == 0]
df_filter_no_of_dependents

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
5,6,0,Graduate,Yes,4800000,13500000,10,319,6800000,8300000,13700000,5100000,Rejected
8,9,0,Graduate,Yes,800000,2200000,20,782,1300000,800000,2800000,600000,Approved
23,24,0,Not Graduate,Yes,500000,1400000,2,551,900000,600000,1100000,300000,Approved
24,25,0,Not Graduate,No,4900000,9800000,16,324,3800000,8700000,10000000,3300000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4251,4252,0,Graduate,Yes,6100000,14600000,18,645,14500000,200000,23000000,4600000,Approved
4254,4255,0,Not Graduate,Yes,8900000,27700000,6,372,18200000,14900000,33700000,6100000,Rejected
4257,4258,0,Graduate,No,9700000,27500000,18,343,13400000,16500000,20000000,8200000,Rejected
4259,4260,0,Not Graduate,Yes,4500000,11500000,14,509,13400000,2300000,15400000,5900000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved

In [30]:
df.groupby([" self_employed"]).mean()

<ipython-input-30-5d259aa7a705>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby([" self_employed"]).mean()

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value
self_employed,,,,,,,,,,
No,2132.833412,2.497404,5.052430e+06,1.512025e+07,10.876829,600.781029,7.432374e+06,5.052714e+06,1.508584e+07,4.977395e+06
Yes,2137.135349,2.500000,5.065721e+06,1.514647e+07,10.923721,599.103256,7.512279e+06,4.894744e+06,1.516619e+07,4.976000e+06